<div class="download">
    <form action="#" method="get">
        <label class="download-tile">Give a url to the server download it:</label>
        <br/>
        <span>URL: </span>
        <input type="url" name="dload" autocomplete="off" placeholder="" />
        <br/>
        <span>Destination path: </span>
        <input type="text" name="ddest" autocomplete="off" placeholder="Optional, default: /download/filename.ext" />
        <br/>
        <input type="submit" style="width: auto" value="Download" />
        <br/>
    </form>
</div>

<div class="download">
    <form action="#" method="get">
        <input name="pre" type="text" autocomplete="off" placeholder="PRE" />
        <br/>
        <input name="start" type="number" placeholder="START" />
        <input name="end" type="number" placeholder="END" />
        <input name="spaces" type="number" placeholder="SPACES" />
        <br/>
        <input name="pos" type="text" autocomplete="off" placeholder="POS" />
        <br/>
        <input type="submit" style="width: auto" value="Buld link list and download" />
        <br/>
    </form>
</div>