<div class="upload">
    <form action="#" enctype="multipart/form-data" method="post" onsubmit="return false">
        <a class="upload-title">Upload to "uploads" path:</a>
        <br/>
        <span>Title: </span>
        <input type="text" name="title" autocomplete="off" placeholder="Optional, default: filename.ext" />
        <br/>
        <input type="file" name="upload" multiple="multiple" />
        <br/>
        <input type="submit" value="Upload" onclick="router_client.submiter.post(event)" />
    </form>
</div>
